
@font-face {
    font-family: 'maghribi';
    src: url('./arabswell_1.ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlBattarRegular';
    src: url('./KacstArt.ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('./DroidKufi-Regular.ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Naskh';
    src: url('./KFGQPC-Uthman-Taha-Naskh-Regular.ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'diwani';
    src: url('./46-Diwani-Bent.ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kufi-beauty';
    src: url('./MCS Mamloky S_U adorned..ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thuluth';
    src: url('./DTHULUTH-II-1.ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kufi-new';
    src: url('./MCS-Kufy-madany-S_U-normal..ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hijaz';
    src: url('./MCS-Hijaz-S_I-adorn.-1.ttf') format('truetype'); /* Adjust the path if necessary */
    font-weight: normal;
    font-style: normal;
}