.ticker-title {
  position: fixed;
  width: 22%;
  right: 0;
  background-color: red;
  bottom: 0;
  text-align: center;
  font-size: 3rem;
  z-index: 1;
  color: white;
  border-top-left-radius: 100px;
  font-family: 'thuluth';
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}




.ticker-wrap {
  width: 85%;
  height: 4rem;
  background-color: rgba(0, 150, 120, 1);
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%; // taken from container as display inline-block
}

.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
  font-family:  'DroidArabicKufiRegular'
}

@keyframes ticker {
  100% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);

  }
  0% {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
  }
}

.ticker {
  animation-name: ticker;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 100s; // tweak based on number of items/desired speed
}